@font-face {
	font-family: "AzeretMono";
	src: url("AzeretMono-VariableFont_wght.ttf");
}

body {
	margin: 0;
	overflow-x: hidden;

	--primary-dark: #6aaf5c;
	--primary-medium: #9ddc87;
	--primary-light: #f2faf0;

	--secondary-dark: #ce3d39;
	--secondary-medium: #da5552;
	--secondary-light: #e19899;

	background: var(--secondary-medium);
}

#background {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	overflow: hidden;
	user-select: none;
}

.background-pattern {
	position: absolute;
	top: 0vh;
	left: 0vw;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;

	:nth-child(2n) {
		animation-direction: reverse;
	}
}

@keyframes scrolling-text {
	from {
		translate: 0 0;
	}
	to {
		translate: 0 -50%;
	}
}

.background-pattern__text {
	flex-shrink: 0;
	font-size: calc(96.5vw / 14);
	font-weight: 900;
	white-space: nowrap;
	color: var(--secondary-dark);
	writing-mode: tb-rl;
	animation: 180s linear infinite scrolling-text;
}

#root {
	min-height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
}