.hover-effect {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	:has(> &) {
		box-shadow: 8px 16px 4px var(--secondary-dark);
		transition: all 0.5s;
	}

	:has(> & .hover-effect__top-left:hover) {
		transform: rotate3d(1, -1, 0, 20deg);
		box-shadow: 16px 24px 4px var(--secondary-dark);
	}
	:has(> & .hover-effect__top:hover) {
		transform: rotate3d(2, 0, 0, 20deg);
		box-shadow: 8px 24px 4px var(--secondary-dark);
	}
	:has(> & .hover-effect__top-right:hover) {
		transform: rotate3d(1, 1, 0, 20deg);
		box-shadow: -8px 24px 4px var(--secondary-dark);
	}

	:has(> & .hover-effect__left:hover) {
		transform: rotate3d(0, -2, 0, 20deg);
		box-shadow: 16px 16px 4px var(--secondary-dark);
	}
	:has(> & .hover-effect__right:hover) {
		transform: rotate3d(0, 2, 0, 20deg);
		box-shadow: -8px 16px 4px var(--secondary-dark);
	}

	:has(> & .hover-effect__bottom-left:hover) {
		transform: rotate3d(-1, -1, 0, 20deg);
		box-shadow: 16px 16px 4px var(--secondary-dark);
	}
	:has(> & .hover-effect__bottom:hover) {
		transform: rotate3d(-2, 0, 0, 20deg);
		box-shadow: 8px 16px 4px var(--secondary-dark);
	}
	:has(> & .hover-effect__bottom-right:hover) {
		transform: rotate3d(-1, 1, 0, 20deg);
		box-shadow: -8px 16px 4px var(--secondary-dark);
	}
}